@model List<ECommerce.Models.Products>

@{
    ViewData["Title"] = "Index";
    @*Layout = "_Layout";*@
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Ecommerce</title>
</head>
<body>
    <header>
        <a href="Home">Home</a>
    </header>

    <main>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Calories</th>
                    <th>Protein</th>
                    <th>Fat</th>
                    <th>Carbohydrates</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name);
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calories);
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Protein);
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fat);
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Carbo);
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</body>
</html>