@model List<ECommerce.Models.Products>

<!DOCTYPE html>
<html>
<head>
    <title>Ecommerce</title>
</head>
<body>
    <header>
        <h1>This Page Also Exists</h1>
        @foreach (var item in Model)
        {
            <p>@item.Name</p>
            <p>@item.Calories</p>
            <p>@item.Protein</p>
            <p>@item.Fat</p>
            <p>@item.Carbo</p>
        }
    </header>
    <main>
    </main>
</body>
</html>