@page
@model ECommerce.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .register-form {
            margin: 0px auto;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center register-form">
            <form method="post">
                <div class="form-group">
                    <div asp-validation-summary="All" class="error-message"></div>
                    <input class="form-control" id="exampleInputFirstName1" aria-describedby="firstNameHelp" placeholder="Enter firstname" asp-for="@Model.Input.FirstName" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="exampleInputLastName1" aria-describedby="lastNameHelp" placeholder="Enter lastname" asp-for="@Model.Input.LastName" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" asp-for="@Model.Input.Email" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp" placeholder="Enter password" asp-for="@Model.Input.Password" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp" placeholder="Confirm password" asp-for="@Model.Input.ConfirmPassword" />
                </div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>
</body>
</html>