@page
@model ECommerce.Pages.ProductDetailsModel
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        main {
            margin-bottom: 150px;
        }
    </style>
    <title>ProductDetails</title>
</head>
<body>
    <main id="products-main">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                    <th scope="col">Description</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Recommendation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Product.Name
                        <form method="post">
                            <input type="hidden" value="@Model.Product.Id" name="Id" />
                            <button asp-page="/ShoppingCart/Index" type="submit">Add To Cart</button>
                        </form>
                    </td>
                    <td>
                        @string.Format("{0:C}", Model.Product.Price)
                    </td>
                    <td>
                        <img width="200" height="150" src=@Model.Product.Image />
                    </td>
                    <td>
                        @Model.Product.Description
                    </td>
                    <td>
                        @Model.Product.Stock
                    </td>
                    <td>
                        @Model.Product.Recommendation
                    </td>
                </tr>
            </tbody>
        </table>
        @*<form method="post">
                <input type="hidden" value="@Model.Product.Id" name="Id" />
                <button asp-page="/ShoppingCart/Index" type="submit">Add To Cart</button>
            </form>*@
    </main>
</body>
</html>